.main_section{
  margin-top: 10%;
  margin-left: 10%;
}
.main_section_btn{
display:flex;
margin-top: 5%;
margin-bottom: 5%;
}
.card_section{
  display:flex;
  gap:2.5%;
  padding: 5%;
  margin-right: 3%;
  margin-left:5%;
}
.footer{
  margin-top: 5%;
  text-align:center;
}